{% extends 'base.html' %}
{% block content %}

<h1>Console Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ console.name }}</span>
        <p>Year: {{ console.released }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'consoles_update' console.id %}">Edit</a>
        <a href="{% url 'consoles_delete' console.id %}">Delete</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Games collected:</span>
        {% if console.game_set.count %}
      {% for game in console.game_set.all %}
      <a href="/games/{{ game.id }}">
      <p>{{game.name}}</p></a>
      {% endfor %}
      {% else %}
        <p>No games for this console 🎮 </p>
      {% endif %}
      </div>
    </div>
  </div>
</div>





{% endblock %}