{% extends 'base.html' %}
{% block content %}

<h4>{{ game.name }}</h4>
<div>
    <b><p>Status:</b> 
      {% if game.finished %}Finished</p>
    {% else %}
    Not finished</p>
    {% endif %}
    <p><b>Details:</b> {{ game.details|linebreaks }}</p>
    <p><b>Console:</b> {{ game.console }}</p>
    <p><b>Genre:</b> {{ game.genre }}</p>
    <p>
    {% if game.released > 2000 %}
      <b>MODERN</b>
      ({{ game.released }})</p>
    {% else %}
      <b>RETRO</b>
      ({{ game.released }})</p>
    {% endif %}
  </div>
    <div class="card-action">
      <a href="{% url 'games_update' game.id %}">Edit</a>
      <a href="{% url 'games_delete' game.id %}">Delete</a>
    </div>

    {% endblock %}