{% extends 'base.html' %}
{% block content %}

<h1 id="darktext">Game List</h1>
{% for game in games %}
<div class="card">
  <!-- Add this <a> tag -->
  <a href="/games/{{ game.id }}">
    <div class="card-content">
      <span class="card-title">{{ game.name }}</span>  </a>
      <b><p>Status:</b> 
        {% if game.finished %}Finished</p>
      {% else %}
      Not finished</p>
      {% endif %}
      <p><b>Console:</b> {{ game.console }}</p>
      <p><b>Genre:</b> {{ game.genre }}</p>
      <p>
      {% if game.released > 2000 %}
        <b>MODERN</b>
        ({{ game.released }})</p>
      {% else %}
        <b>RETRO</b>
        ({{ game.released }})</p>
      {% endif %}

     
    </div>

</div>
{% endfor %}

{% endblock %}